repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.2.5
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3
          - "@tenedev/prettier-config"
          - prettier-plugin-packagejson
